 body{
     font-family: 'montserrat', sans-serif;
 }
 h1{
     color:rgb(68, 63, 63);
 }
 
 h2{
    font-size: 15px;
    font-weight: 700;
 }
 #sobre-mi {
    
    background-image: url(../images/fondos/leaves2.jpg);
    background-position: left;

}
#sobre-mi .img-circle{
    display: block;
    background-color: #fff;
    padding: 8px;
    box-shadow: inset 5px 5px 10px 0px rgba(209, 209, 209, 0.63);
    border-radius: 50%;
}
#sobre-mi .img-fluid{
    max-width: 100% !important;
    height: auto !important;
    margin-bottom: 25px;
}
#sobre-mi .btn{
    padding: 4px 14px !important;
    margin-left: 40px;
}

#proyectos {
    background-image: url(../images/fondos/leaves2.jpg);
    background-size: auto ;
}
#proyectos p{
    color: #6a6a6a;
    font-size: 18px;
}
.color-gradiente{
    background: rgba(40,52,15,1);
background: -moz-linear-gradient(left, rgba(40,52,15,1) 0%, rgba(40,52,15,1) 0%, rgba(40,52,15,0.88) 26%, rgba(108,120,84,0.74) 54%, rgba(108,120,84,0.52) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(40,52,15,1)), color-stop(0%, rgba(40,52,15,1)), color-stop(26%, rgba(40,52,15,0.88)), color-stop(54%, rgba(108,120,84,0.74)), color-stop(100%, rgba(108,120,84,0.52)));
background: -webkit-linear-gradient(left, rgba(40,52,15,1) 0%, rgba(40,52,15,1) 0%, rgba(40,52,15,0.88) 26%, rgba(108,120,84,0.74) 54%, rgba(108,120,84,0.52) 100%);
background: -o-linear-gradient(left, rgba(40,52,15,1) 0%, rgba(40,52,15,1) 0%, rgba(40,52,15,0.88) 26%, rgba(108,120,84,0.74) 54%, rgba(108,120,84,0.52) 100%);
background: -ms-linear-gradient(left, rgba(40,52,15,1) 0%, rgba(40,52,15,1) 0%, rgba(40,52,15,0.88) 26%, rgba(108,120,84,0.74) 54%, rgba(108,120,84,0.52) 100%);
background: linear-gradient(to right, rgba(40,52,15,1) 0%, rgba(40,52,15,1) 0%, rgba(40,52,15,0.88) 26%, rgba(108,120,84,0.74) 54%, rgba(108,120,84,0.52) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28340f', endColorstr='#6c7854', GradientType=1 );
 }
.card {
    background: white;
    border-radius: 15px;
}
#proyectos .card p {
    font-size: 12px; 
    height: 70px;
}

#proyectos img {
    width: 100%;
    height: 150px;
    padding: 10px 0px;
}
#proyectos .subtitulo {
    padding: 5px 10px;
    background-color: rgba(52, 53, 131, 0.541);
    font-size: 10px;
    align-content: center;
    color: whitesmoke;
}
#proyectos .btn {
    padding: 4px 16px;
    font-size: 10px;
    color: gray;
}
#tecnologias{
    background-color: rgba(247, 208, 196, 0.589);
}

#tecnologias img{
    width: 50%;
    margin: 60px 0px;
    }
#tecnologias h3{
    font-size: 16px;
    text-align: center;
    color: #282828;
}
#sobre-mi h2{
    font-size: 25px;
    padding: 5px 0px;
    color:rgb(68, 63, 63) ;
}
#tecnologias .card{
    align-items: center;
    margin: 10px;
}

#idiomas {
    background-color: rgba(247, 208, 196, 0.671);
    background-size: 100%;
}

#idiomas i{
    color: white;
    font-size: 70px;
}
#idiomas h2{
    font-size: 18px;
}

#idiomas .col-4{
    font-size: 100px;
    
    background-color: rgb(62, 7, 134);
    border-radius: 22px;
    height: 170px;
    align-items: center;
    text-align: center;
   
}
#idiomas .col-8{
    text-align: left;
    height: 170px; 
    padding-top: 25px;
}
#idiomas .col-sm{
    text-align: left;
    height: 170px;
    border-radius: 20px;
    margin: 10px;

}
#experiencia {
    background-color: rgba(247, 208, 196, 0.671);
}
#experiencia .col-9 , #estudios .col-9{
    text-align: left;
    padding: 40px 40px;
}
#experiencia .col-sm, #estudios .col-sm {
    text-align: left;
    height: 200px;
    border-radius: 20px;
    margin: 10px;
}
#estudios {
    background-color: rgba(247, 208, 196, 0.671);
    padding: 0px 0px 20px 0px;
}
#inicio{
    background-image: url(../images/fondos/leaves2.jpg);
    background-size: 100%;
    align-items: center;
    text-align: center;
}
#inicio .buscador{
    border:solid  rgb(68, 63, 63) 1px;
    border-radius: 30px;
    padding:0px 15px;
    width: auto;
    margin-top: 200px;
    text-align: center;
    justify-content: center;

}
#inicio footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#inicio p{
    color:rgb(68, 63, 63);
    font-size: 18px ;
    margin-bottom: 2px !important;
    margin-top: 2px !important ;
    font-family: 'montserrat', sans-serif;
}

#inicio .fa-grip-lines-vertical, .fa-search{
    color: rgb(122, 121, 121);
    font-size: 15px !important;
    font-weight: 700 !important;
}

.comment{
    font-size: 50px;
    width: auto;
    height: auto;
    text-align: center;
    align-items: center;
    width: unset;
}
main a{
    font-size: 10px;
    font-weight: 600;
    color: gray;
}

#contacto {
    background-image: url(../images/fondos/leaves2.jpg);
    background-size: auto;
}

#contacto main {
    height: 78vh;
}

#contacto p {
    color: #6a6a6a;
    font-size: 20px;
}

nav .nav-link {
    color: rgb(68, 63, 63);
    font-weight: 600;
    font-size: 20px;
}

nav .nav-link:hover{
    text-decoration: underline;
}

nav .active {
    font-weight: 800;
    color: rgba(91, 126, 83, 0.726);
    border: 1px solid rgba(91, 126, 83, 0.726);
    border-radius: 20px;
}

.form-inline {
    font-weight: 800;
    color:  rgb(68, 63, 63);
    padding: 6px;
}

.form-control{
    border: 0px;
    border-radius: 10px;
}
.btn {
    border: 1px solid rgb(68, 63, 63);
    border-radius: 20px;
    font-weight: 600;
    background-color: rgb(242, 243, 247);
    padding: 8px 18px;
    font-size: 16px;
    color:  rgb(68, 63, 63);
}

.btn:hover {
    border: 1px solid rgba(91, 126, 83, 0.726) !important;
    border-radius: 20px !important;
    color: rgba(91, 126, 83, 0.726) !important;
}
i {
    font-size: 30px;
    color: rgb(83, 82, 82);
    padding: 4px;
}

i:hover {
    border: 1px solid rgba(51, 68, 47, 0.726);
    border-radius: 30px;
    color: rgba(91, 126, 83, 0.726);
    padding: 6px;
}

footer a {
    color:  rgb(68, 63, 63);
    text-decoration: underline;
}
@media (max-width:576px){
    #inicio p{
        font-size: 15px ;
        margin-bottom: 1px !important;
        margin-top: 1px !important ;
    }
    #inicio .fa-grip-lines-vertical, .fa-search{
    font-size: 12px !important;
    margin-bottom: 1px !important;
    margin-top: 1px !important ;
    }
    #inicio main {
        text-align: left;
    } 
    #proyectos p{
        font-size: 25px;
    }
    #contacto footer .container{
        margin-top: 160px;
    }
    #estudios .col-sm {
        text-align: left;
        height: 200px;
        border-radius: 20px;
        margin-right: 200px;
        padding-right: 0px;
    }
    #inicio {
        background-image: url(../images/fondos/leaves.jpg);
        background-size: cover;
        position: absolute;
    }
    #inicio .buscador {
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 1px 3px;
    }
    #inicio .principal{
        text-align: center;
    }
    #tecnologias .card {
        align-items: center;
        margin: 15px;
    }
    #tecnologias h2 {
        text-align: center;    
         
    }
    #idiomas .col-12 {
    height: 135px;
    font-size: 15px;
    }
    #idiomas .col-8, #experiencia .col-9 , #estudios .col-9 {
        padding-top: 10px !important;
    }
    #idiomas .row , #experiencia .row, #estudios .row{ 
        margin-right: 5px;
    }
    #idiomas .col-4{
        font-size: 50px;
        height: 135px;
        padding: 15px;
        padding-top: 25px;
        text-align: center;
    }
    #experiencia .col-12 ,#estudios .col-12 {
        font-size: 15px;
        padding: 0px;
    }
    #experiencia h2, #estudios h2  {
        text-align: left; 
        padding-left: 15px;

    }
    
   
}



